@page
@addTagHelper *, DemoApp
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Welcome Visitor</h1>
        <b>Current Time: </b><span time-display-format="dd/mm/yyyy HH:mm:ss tt"></span>
    </body>
</html>